.song-in-top-card-wrapper {
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
  .top-number-song-card {
    margin: 0px 0px 0px -40px;
  }
  .song-info{
    margin: 8px 0px 0px 10px;
  }
  .functional-icon {
    display: none;
    margin: 10px 0px 0px 200px;
  }
  &:hover {
    .functional-icon{
      display: block;
      position: absolute;
    }
  }
}
