.functional-icon-wrapper {
  display: flex;
    a {
        padding: 5px;
        color: gray;
        font-size: 16px;
        font-weight: bold;
        &:hover{
            color: purple;
            opacity: 0.75;
        }
    }
}
