.hot-artist-wrapper {
  grid-area: hot-artist;
  &-inner{
    .first-image{
      position: absolute;
      margin: 10px 0px 0px 0px;
    }
    ul{
      margin-left: 170px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li {
        margin: 0px 0px 10px 10px;
      }
    }
  }
}