.mv-zing-chart-card-wrapper {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  .thumbnail-mv{
      width: 115px;
      margin: 0px 15px 0px -45px;
    }
    .mv-information{
      margin-top: 8px;
    }
  
}
