.main-wrapper {
  background-color: gray;
}

.content-body-wrapper {
  background-color: #F2F2F2;
  &-inner {
      display: grid;
      background-color: #FFFFFF;
      max-width: 1000px;
      margin: 0 auto;
  }
}