.navbar-wrapper {
  background-color: #e4e4e4;
  grid-area: navbar;
  height: 40px;
  &-inner{
    display: flex;
    margin: 0 auto;
    width: 1020px;
    height: 40px;
    .functional-menu{
      padding-left: 175px;
      margin-top: 3px;
      .turn-off-ads{
        text-decoration: none;
        margin-right: 10px;
        color: #333333;
        font-size: 14px;
        &:hover{
          background-color: #e4e4e4;
          color: #a845de;
        }
        .power-off-icon{
          font-size: 14px;
          margin-top: 12px;
          margin-right: 5px;
        }
      }
      .upload-icon{
        font-size: 20px;
        color: #590985;
        &:hover{
          opacity: 0.75;
          color: #a83fe0;
          background-color: #e4e4e4;
        }
      }
    }
  }
}
