.navbar-wrapper {
  background-color: #e4e4e4;
  grid-area: navbar;
  height: 40px;
  &-inner{
    display: flex;
    margin: 0 auto;
    width: 1020px;
    height: 40px;
    .personal-music-menu{
      ul{
        height: 40px;
        margin: 0px;
        padding: 0px;
        li{
          list-style: none;
          float: left;
          height: 40px;
          a{
            height: 40px;
            padding: 0px 15px 0px 15px;
            line-height: 40px;
            font-weight: 400;
            color: black;
            text-decoration: none;
            font-size: 14px;
            &:hover{
              padding: 10px 15px 12px 15px;
              background-color:white;
              color: #a845de;
            }
          } 
        }
        .home-icon{
          &:hover{
          padding: 10px 15px 10px 15px;
          background-color: #e4e4e4;
          color: black;
          }
        }
      }  
    }
    .functional-menu{
      padding-left: 180px;
      margin-top: 3px;
      .turn-off-ads{
        text-decoration: none;
        margin-right: 10px;
        color: #333333;
        &:hover{
          background-color: #e4e4e4;
          color: #a845de;
        }
      }
      .upload-icon{
        font-size: 20px;
        color: #590985;
        &:hover{
          opacity: 0.75;
          color: #a83fe0;
          background-color: #e4e4e4;
        }
      }
    }
  }
}
