.menu-zing-chart-wrapper {
    display: flex;
    padding: 0px;
    li {
        width: 33.33%;
        height: 40px;
        list-style: none;
        a {
            display: block;
            border-top: 2px solid #fff;
            background: #edeeee;
            text-align: center;
            font-size: 16px;
            line-height: 42px;
            color: #333333;
            text-decoration: none;
            &:hover{
                border-top: 2px solid purple;
            }
        }
        .active {
            border-top: 2px solid purple;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            background: #fff;
        }
    }
}