.ranking-chart-wrapper {
  background-image: url('./../../../../assets/SongRanking/song_ranking.png');
  background-size:contain;
  height: 280px;
  &-inner{
    display: flex;
    padding: 200px 20px 0px 0px;
    li{
      margin-left: -20px;
      list-style: none;
      border: 1px solid rgba(255, 255, 255, 0.15);
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        opacity: 0.75;
    }
  }
}
}
