.ranking-chart-wrapper {
  background-image: url('./../../../../assets/SongRanking/song_ranking.png');
  background-size:contain;
  height: 280px;
  &-inner{
    display: flex;
    padding: 210px 0px 0px 0px;
    li{
      position: relative;
      height: 45px;
      margin-left: -25px;
      margin-right: -5px;
      list-style: none;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 2px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        opacity: 0.75;
    }
  }
}
}
