.card-wrapper {
  display: flex;
  margin-right: 10px;
  width: 190px;
  &-inner{
    .top-number {
      position:absolute;
      bottom: 3px;
     }
    .thumbnail-song {
      position:absolute;
      left: 30px;
      bottom: 3px;
    }
    .song-info{
      position:absolute;
      left: 70px;
      bottom: 8px;
    }
    .percent{
      position:absolute;
      top: 2px;
      right: 5px;
    } 
  }
}
