.card-wrapper {
  display: flex;
  margin-right: 10px;
  &-inner{
    .top-number {
      margin-left: 1px;
     }
    .thumbnail {
      margin:-34px 0px 0px -110px;
    }
    .song-info{
     margin: -40px 0px 0px 70px;
    }
    .percent{
      margin: -36px 0px 0px 170px;
    } 
  }
}
