.song-card-wrapper {
  display: flex;
  &-inner{
    margin-bottom: 35px;
    .top-number {
      margin: 0px 0px 0px -40px;
    }
    .minus-icon{
      margin: -28px 0px 0px -560px;
    }
    .thumbnail{
      margin: -38px 0px 0px -420px;
    }
    .song-info{
      margin: -70px 0px 0px 130px;
    }
    .functional-icon-song-ranking{
      margin: -20px 0px 0px 520px;
    }
  }
}
