.music-news-wrapper {
  position: relative;
  margin-top: 20px;
  grid-area: music-news;
  img{
   margin-top: 10px;
   max-height: 210px;
  }
  p{
    display:flex;
    position: absolute;
    top: 190px;
    left: 20px;
    color: white;
  }
}
