.music-news-wrapper {
  margin-top: 20px;
  grid-area: music-news;
  img{
    margin-top: 10px;
   max-height: 210px;
  }
  p{
    display:flex;
    position: absolute;
    margin: -40px 0px 0px 20px;
    color: white;
  }
}
