.music-for-you-wrapper {
  grid-area: music-for-you;
  &-inner{
    padding: 8px;
    .background-image{
      img{
        height: 130px;
        filter: brightness(40%);
      }
    }
    .banner{
      position: absolute;
      margin-top: -115px;
      margin-left: 20px; 
      &:hover{
        filter: brightness(60%);
      }
      img{
        width: 90px;
        height: 90px;
      }
      .play-icon {
        display: block;
        position: absolute;
        margin-top: -75px;
        margin-left: 20px;
        font-size: 50px;
        color: #FCFCFC;
        opacity: 0.7;
      }
    }
    .content-music-for-you{
      position: absolute;
      margin-top: -115px;
      margin-left: 120px;  
      width: 160px;
      .title{
        text-align: left;
        color: white;
        text-decoration: none;
        b{
          margin-left: -10px;
          font-size: 14px;
        }
        p{
          margin-left: 5px;
          margin-top: 10px;
          font-size: 12px;
          font-weight:100;
          line-height: 18px;
        }
      }
    }
  }
}
