.banner-zing-chart-wrapper{
    &-inner{
        position: relative;
        display: block;
        &:hover {
            opacity: 0.8;
        }
        .top-number-banner{
          position:absolute;
          left: 6px;
          bottom: 10px;
        }
        .song-info-banner{
          position:absolute;
          left: 40px;
          bottom: 12px;
        }
    }

}