.title-wrapper {
  &-inner{
    .title{
      font-size: 18px;
      font-weight: 100;
      text-align: left;
      color: purple;
    }
    img{
      margin-left: -6px;
      width: 310px;
    }
  }
}
