.weekly-song-ranking-wrapper {
  grid-area: weekly-song-ranking;
  margin-top: 30px;
  &-inner{
    .banner{
      margin-top: -15px;
    }
    .list-song-in-top{
      margin-top: -10px;
    }
  }
}
