.top-number-wrapper {
  width: 30px;
  height: 40px;
  line-height: 40px;
  &.top-number-wrapper-inner {
    &.top-00-song-ranking {
      color: #ffffff;
    }
    &.top-01-song-ranking {
      color: #438de0;
    }
    &.top-02-song-ranking {
      color: #116e46;
    }
    &.top-03-song-ranking {
      color: #cf521c;
    }

    &.top-others-song-ranking {
      color: #636363;
    }
  }
}
