.thumbnail-song-wrapper {
  position: relative;
  &-inner{
    text-decoration: none;
    img{
      border: 1px solid #ffffff;
      &:hover{
        filter: brightness(60%);
      }
    }
    .top-number-mv{
      position: absolute;
      font-size: 20px;
      bottom: 0px;
      left: 10px;
      line-height: 40px;
      color: white;
    }
  }
}
