.hot-topic-wrapper {
  grid-area: hot-topic;
  &-inner{
    margin-left: 8px;
    margin-top: -20px;
    .title{
      text-align: left;
      font-size: 18px;
      font-weight: 100;
      color: #a845de;
    }
    img{
      margin-left: -6px;
    }
    .other{
      margin-top: 10px;
      text-align: left;
      a{
        text-decoration: none;
        font-size: 14px;
        color: #616161;
        &:hover{
        color: #a845de;
        }
        .icon{
          margin-left: 5px;
        }
      }
    }
  }
}
